<app-nav></app-nav>
<body>
    <div class="container">
        <div class="row">
            <div class="modal-content">
                <div class="col-12 col-sm-12 col-md-8 mx-auto ">

                    <div class="border border-left-9   p-5 shadow-sm rounded-right" style="background: slategrey;">
                        <form>
                            <h2 class="text-center mb-4">BIENVENIDO A CELLCOM</h2>
                            <div class="dropdown-divider"></div>
                            <div class="text-center mb-3">
                                <label for="text" style="color: rgb(255, 255, 255);">Garantizamos seguridad y traquilidad.</label>
                            </div>
                            <div class="text-center mb-3">
                                <label for="text" style="color: rgb(255, 255, 255);"><br><br>
                                Podras realizar procesos como:<br><br>
                                *Registrar equipos moviles.<br><br>
                                *Registrar lineas telefonicas.<br><br>
                                *Actualizar el estado de tu linea.<br><br>
                                * Y muchas cosas mas ...
                                </label>
                            </div>
                        </form>
                    </div>
                    </div>
    
                </div>
        </div>
        </div>
    </body>
<app-footer></app-footer>
